@model BeautyBooking.Web.ViewModels.Categories.CategoriesListViewModel
@using BeautyBooking.Common
@{
    this.ViewData["Title"] = "Категории";
}

<h2>
    All Categories (@Model.Categories.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Categories" asp-action="AddCategory">Добавить новую категорию</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Картинка</th>
            <th scope="col">Описание</th>
            <th scope="col">Товар</th>
            <th scope="col">Магазин</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in this.Model.Categories)
        {
            <tr>
                <th scope="row">@category.Name</th>
                <td>
                    <img class="align-self-center" src="@category.ImageUrl" style="width:180px;height:120px;">
                </td>
                <td>@category.Description</td>
                <td>@category.ServicesCount</td>
                <td>@category.SalonsCount</td>
                <td>
                    @if (category.Id <= GlobalConstants.SeededDataCounts.Categories)
                    {
                        <div class="text-muted" style="font-size:smaller">
                            Изначально минимальный перечень товаров <br />Нельзя удалить!
                        </div>
                    }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    asp-area="Administration" asp-controller="Categories" asp-action="DeleteCategory" asp-route-id="@category.Id">
                                Удалить 
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
