@model BeautyBooking.Web.ViewModels.Salons.SalonsListViewModel
@{
    this.ViewData["Title"] = "Магазины";
}

<h2>
    Все магазины (@Model.Salons.Count())
    <span>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Salons" asp-action="AddSalon">Добавить новый магазин</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Картинка</th>
            <th scope="col">Категория</th>
            <th scope="col">Город</th>
            <th scope="col">Адрес</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Заказы</th>
            <th scope="col">Удалить магазин?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salon in this.Model.Salons)
        {
            <tr>
                <th scope="row">@salon.Name</th>
                <td>
                    <img class="align-self-center" src="@salon.ImageUrl" style="width:180px;height:120px;">
                </td>
                <td>@salon.CategoryName</td>
                <td>@salon.CityName</td>
                <td>@salon.Address</td>
             
          
                <td><strong>@salon.Rating.ToString("F") / 5.00</strong> from <strong>@salon.RatersCount</strong> votes</td>
                <td>@salon.AppointmentsCount</td>
                <td>
                    @if (salon.Id.StartsWith("seeded"))
                    {
                        <div class="text-muted" style="font-size:smaller">
                            Изначально заведенные магазины <br />Нельзя удалить!
                        </div>
                    }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    asp-area="Administration" asp-controller="Salons" asp-action="DeleteSalon" asp-route-id="@salon.Id">
                                Удалить
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
